{% extends 'saltmarsh/base.html' %}
{% block content %}
    <h1 class="page-header__title">About</h1>
    <div class="wiki-article-container">
        <div class="wiki-article-col__left">
            <p>For my Saltmarsh group!</p>
            <p>Stay tuned for more information.</p>
        </div>
        <div class="wiki-article-col__right">
            <div class="featured-box homepage-posts">
                <h4 class="section-header">Recent Activity</h4>
            </div>
        </div>
    </div>
{% endblock %}