{% extends 'saltmarsh/base.html' %}
{% block content %}
    <h1 class="page-header__title">About</h1>
    <div class="wiki-article-container">
        <div class="wiki-article-col__left">
            <p><em>Saltmarsh...</em></p>
            <div class="about-text">
                <p class="about-text"><em>A nondescript fishing village quietly tucked away along the 
                    southern coast of the Kingdom of Keolund. It seems inexplicable that this sleepy, 
                    backwater burg could ever be the destination of anyone other than a fisherman 
                    returning from a long day's haul - and yet, here you are, standing before the 
                    salt-encrusted outer walls, Ravan's last note clenched tightly in your hand, her 
                    name a question upon your lips.</em></p>
                <p><em>The town is protected by a small wall and a single gate secured by two 
                    older guards. The old, crumbling wall stretches to the north and south, 
                    badly worn by centuries of rain and wind coming in from the Azure Sea,
                    providing next to nothing when it comes to defensive value. To the north 
                    atop a hill, you can see a tower with a limp pennant bearing Saltmarsh's 
                    icon: that of a single green reed.</em></p>
                <p><em>A thick fog has recently rolled in from the sea, and you can see 
                    tendrils of it curling around your feet as you approach the city 
                    gates.</em></p>
                <p><em>Welcome to Saltmarsh.</em></p>
                <br>
                <p><em>The Ghosts of Saltmarsh</em> is a fifth-edition D&D campaign I am running
                    for a group of five players here in Northern Virginia, using the recent 
                    publication with the same title as an inspiration.</p>
             <p>The idea of using a personalized Wiki for the campaign came when I was looking 
                    for an idea for the final project of the CS50 course (highly recommended).
                    Rather than players keep their notes separately in various notebooks, a 
                    collaborative Wiki for the team seemed like a good (if much bigger) idea.</p>
             <p>Dedicated to my players. Good luck everyone, you'll need it.</p>
            </div>
        </div>
        <div class="wiki-article-col__right">
            {% include 'saltmarsh/right_column.html' %}
        </div>
    </div>
{% endblock %}