{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'saltmarsh/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'saltmarsh/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'saltmarsh/forms.css' %}">

    {% if title %}
        <title>The Ghosts of Saltmarsh - {{ title }}</title>
    {% else %}
        <title>The Ghosts of Saltmarsh</title>
    {% endif %}
</head>

<body>
    <nav>
        <ul class="li-inline justify-end">
            <li class="nav-title"><a href="{% url 'home' %}">THE GHOSTS OF SALTMARSH</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a class="log-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a class="log-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="messages-container {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="container-wrapper_head">
            <div class="head-logo">
                <img src="/media/saltmarsh-logo.png">
            </div>
            <div class="head-tabs">
                <div class="head-tabs__title">
                    <a href="{% url 'home' %}"><h3>The Ghosts of Saltmarsh Wiki</h3></a>
                    <div class="new-page__button">
                        <a class="header__transform" href="{% url 'article-create' %}">Add New Page</a>
                    </div>
                </div>
                <div class="head-tabs__tablists">
                    <ul class="li-inline tabs header__transform">
                        <li>Players</li>
                        <li>Sessions</li>
                        <li>NPCs</li>
                        <li>Places</li>
                        <li>Enemies</li>
                        <li>Wiki Editing</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container_wrapper">
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
