{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'saltmarsh/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'saltmarsh/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'saltmarsh/forms.css' %}">

    {% if title %}
        <title>The Ghosts of Saltmarsh - {{ title }}</title>
    {% else %}
        <title>The Ghosts of Saltmarsh</title>
    {% endif %}
</head>

<body>
    <nav>
        <ul class="li-inline justify-end">
            <li class="nav-title"><a href="{% url 'home' %}">THE GHOSTS OF SALTMARSH</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a class="log-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a class="log-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="messages-container {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="container-wrapper_head">
            <div class="head-logo">
                <a href="{% url 'home' %}"><img src="{% static 'saltmarsh-logo.png' %}"></a>
            </div>
            <div class="head-tabs">
                <div class="head-tabs__title">
                    <div class="wiki-title">
                        <a href="{% url 'home' %}"><h3>The Ghosts of Saltmarsh Wiki</h3></a>
                    </div>
                    <div class="new-page__button header__transform wiki-pages">
                        <div class="pages-div">
                            <p style="font-size: 14px; margin-top: 9px;"><span class="total-pages">{{ pages }}</span> pages</p>
                        </div>
                        <div style="width: 46%";>
                            <a href="{% url 'article-create' %}">Add New Page</a>
                        </div>
                    </div>
                </div>
                <div class="head-tabs__tablists tab" id="navTabs">
                    <ul class="li-inline tabs header__transform">
                        <li class="tablinks">Players</li>
                        <li class="tablinks">Sessions</li>
                        <li class="tablinks">NPCs</li>
                        <li class="tablinks">Places</li>
                        <li class="tablinks" onmouseleave="closeNavTab()">Villains</li>
                        <li>Wiki Editing</li>
                    </ul>
                    <div id="Players" class="tabcontent" onmouseenter="keepTabOpen('Players')">
                        <a href="{% url 'profile-detail' username='allatariel' %}"><p>Alltariel</p></a>
                        <a href="{% url 'profile-detail' username='cal' %}"><p>Cal</p></a>
                        <a href="{% url 'profile-detail' username='edith' %}"><p>Edith</p></a>
                        <a href="{% url 'profile-detail' username='noara' %}"><p>Noara</p></a>
                        <a href="{% url 'profile-detail' username='tayolt' %}"><p>Tayolt</p></a>
                    </div>
                    <div id="Sessions" class="tabcontent" onmouseenter="keepTabOpen('Sessions')">
                        <p>Session 1</p>
                        <p>Session 2</p>
                        <p>Session 3</p>
                    </div>
                    <div id="NPCs" class="tabcontent" onmouseenter="keepTabOpen('NPCs')">
                        <p>Gellan Primewater</p>
                    </div>
                    <div id="Places" class="tabcontent" onmouseenter="keepTabOpen('Places')">
                        <p>Saltmarsh</p>
                    </div>
                    <div id="Villains" class="tabcontent" onmouseenter="keepTabOpen('Villains')">
                        <p>Sanbalet</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_wrapper">
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'saltmarsh/script.js' %}"></script>
</body>
</html>
