{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'saltmarsh/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'saltmarsh/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'saltmarsh/forms.css' %}">

    {% if title %}
        <title>The Ghosts of Saltmarsh - {{ title }}</title>
    {% else %}
        <title>The Ghosts of Saltmarsh</title>
    {% endif %}
</head>

<body>
    <nav>
        <ul class="li-inline justify-end">
            <li class="nav-title"><a href="{% url 'home' %}">THE GHOSTS OF SALTMARSH</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a class="log-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a class="log-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="messages-container {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="container-wrapper_head">
            <div class="head-logo">
                <img src="{% static 'saltmarsh-logo.png' %}">
            </div>
            <div class="head-tabs">
                <div class="head-tabs__title">
                    <a href="{% url 'home' %}"><h3>The Ghosts of Saltmarsh Wiki</h3></a>
                    <div class="new-page__button">
                        <a class="header__transform" href="{% url 'article-create' %}">Add New Page</a>
                    </div>
                </div>
                <div class="head-tabs__tablists tab" id="navTabs">
                    <ul class="li-inline tabs header__transform">
                        <li class="tablinks" onmouseover="openNavTab(event, 'Players')" onmouseleave="closeNavTab()">Players</li>
                        <li class="tablinks" onmouseover="openNavTab(event, 'Sessions')" onmouseleave="closeNavTab()">Sessions</li>
                        <li class="tablinks" onmouseover="openNavTab(event, 'NPCs')" onmouseleave="closeNavTab()">NPCs</li>
                        <li class="tablinks" onmouseover="openNavTab(event, 'Places')" onmouseleave="closeNavTab()">Places</li>
                        <li class="tablinks" onmouseover="openNavTab(event, 'Villains')" onmouseleave="closeNavTab()">Villains</li>
                        <li>Wiki Editing</li>
                    </ul>
                    <div id="Players" class="tabcontent" onmouseenter="keepTabOpen('Players')" onmouseleave="closeNavTab()">
                        <p>Alltariel</p>
                        <p>Cal</p>
                        <p>Edith</p>
                        <p>Noara</p>
                        <p>Tayolt</p>
                    </div>
                    <div id="Sessions" class="tabcontent" onmouseenter="keepTabOpen('Sessions')" onmouseleave="closeNavTab()">
                        <p>Session 1</p>
                        <p>Session 2</p>
                        <p>Session 3</p>
                    </div>
                    <div id="NPCs" class="tabcontent" onmouseenter="keepTabOpen('NPCs')" onmouseleave="closeNavTab()">
                        <p>Gellan Primewater</p>
                    </div>
                    <div id="Places" class="tabcontent" onmouseenter="keepTabOpen('Places')" onmouseleave="closeNavTab()">
                        <p>Saltmarsh</p>
                    </div>
                    <div id="Villains" class="tabcontent" onmouseenter="keepTabOpen('Villains')" onmouseleave="closeNavTab()">
                        <p>Sanbalet</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_wrapper">
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'saltmarsh/script.js' %}"></script>
</body>
</html>
