{% extends 'saltmarsh/base.html' %}
{% block content %}
    <h1 class="page-header__title">Home</h1>
    <div class="wiki-article-container">
        <div class="wiki-article-col__left">
            <div class="featured-box">
                <h2>Welcome to <span class="subtitle-home">The Ghosts of Saltmarsh!</span></h2>
                <p><strong>A current account of Saltmarsh and its environs</strong></p>
                <p><a href="{% url 'register' %}">Create an account</a> and join the party!</p>
            </div>
            <div class="featured-box">
                <h4 class="section-header">Next Session</h4>
                <div class="countdown-box">
                    <h2>January 12, 2020</h2>
                    <h5>-</h5>
                    <h5>12pm NOON at Noara's place</h5>
                </div>
            </div>
            <div class="featured-box">
                <h4 class="section-header">Featured Article</h4>
            </div>
        </div>
        <div class="wiki-article-col__right">
            {% include 'saltmarsh/right_column.html' %}
        </div>
    </div>
{% endblock %}