{% extends 'saltmarsh/base.html' %}
{% block content %}
    <h1 class="page-header__title">Home</h1>
    <div class="wiki-article-container">
        <div class="wiki-article-col__left">
            <div class="featured-box">
                <h4 class="section-header">Next Session</h4>
                <div class="countdown-box">
                    <h2>September 22, 2019</h2>
                    <h5>-</h5>
                    <h5>12pm NOON at Noara's abode</h5>
                </div>
            </div>
            <div class="featured-box">
                <h4 class="section-header">Featured Article</h4>
            </div>
        </div>
        <div class="wiki-article-col__right">
            <div class="featured-box homepage-posts">
                <h4 class="section-header">Recent Activity</h4>
            </div>
        </div>
    </div>
{% endblock %}