<div class="featured-box homepage-posts">
    <h4 class="section-header">Recent Comments</h4>
    <div class="featured-comment-box">
        {% for comment in recent_comments %}
        <div class="featured-comment">
            <div class="featured-comment-info-box">
                <div class="featured-comment-picture">
                    <img src="{{ comment.author.profile.image.url }}">
                </div>
                <div class="comment-style" style="margin-top: -3px">
                    <div class="comment-style">
                        <a href="../../article/{{ comment.post.slug }}">{{ comment.post }}</a>
                    </div>
                    <h6 class="comment-style">{{ comment.date_posted }} by <a href="../../profile/{{ comment.author }}">{{ comment.author }}</a></h6>
                </div>
            </div>
            <p>{{ comment.text }}</p>
        </div>
        {% endfor %}
        <div class="about-link">
            <a href="{% url 'about' %}">About this site</a>
        </div>
    </div>
</div>