form p:first-of-type {
    padding-top: 0px;
}

label {
    display: block; 
}

textarea {
    width: 95%;
}

input {
    display: block;
    margin: 8px 6px 8px 0;
    font-size: 1rem;
    padding: .375rem .75rem;
    width: 95%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
}

input:focus {
    outline: 0;
    box-shadow: 0 0 3pt #17a2b8;
}

.helptext,
form li {
    display: block;
    color: #6c757d;
    font-size: 80%;
    font-weight: 400;
    padding: 2px 0;
}