/*
============================
IMPORTS
============================
*/


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*
============================
MAIN BODY LAYOUT
============================
*/

html {
    overflow-y: scroll;
}

body {
    background-color: #f9f9f9;
}

.container {
    margin: 30px auto;
    max-width: 990px;
    border: 1px solid #CCC;
    background-color: white;
    border-radius: 4px;
}

.container_wrapper {
    max-width: 950px;
    margin: 0 auto;
}

.container-wrapper_head {
    height: 105px;
}

.featured-box {
    margin: 10px 0;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #CCC;
}


/*
============================
SECTION LAYOUT
============================
*/


.wiki-article-container {
    display: flex;
}

.wiki-article-col__left {
    width: 602px;
    margin-left: 12px; 
    margin-right: 12px;
}

.wiki-article-col__right {
    flex-grow: 1;
}

.homepage-posts {
    margin-left: 8px;
    margin-right: 8px;
    flex-basis: auto;
}

.countdown-box {
    margin: 2px 0;
    padding: 10px;
    background-color: #EEE;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #CCC;
}

.countdown-box * {
    padding: 5px;
}

.messages-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success {
    background-color: #D4EDDA;
    color: #8A9A66;
    font-weight: 700;
}

.error {
    background-color: #F8D7DA;
    color: #A74E69;
}


/*
============================
NAVIGATION
============================
*/


nav {
    height: 55px;
    display: flex;
    background-color: lightblue;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

nav li {
    display: inline;
    padding: 8px 14px;
}

nav ul li:last-child {
    margin: 0 30px 0 8px;
    border-radius: 4px;
}

.li-inline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.li-inline li:first-child {
    margin-right: auto;
    margin-left: 30px;
}

nav li a{
    padding: 19px 0;
}

.log-link {
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}


/*
============================
HOMEPAGE
============================
*/


.next-session {
    height: 104px;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.next-session h4 {
    padding: 5px;
}


/*
============================
PROFILE PAGE
============================
*/

.profile-info {
    display: flex;
    padding: 10px 0;
    margin: 9px 0;
}

.profile-text {
    flex-grow: auto;
    padding-top: 8px;
    padding-left: 15px;
    width: 100%;
}

.profile-username {
    font-weight: 700;
}

.profile-text h4 {
    font-weight: 200;
}

.profile-metadata {
    color: #333;
}

.account-img {
    height: 125px;
    width: 125px;  
    margin-right: 8px;
    margin-bottom: 8px;
}

/*
============================
FONTS
============================
*/

em {
    font-style: italic;
}

h1 {
    font-size: 36px;
    font-family: "Helvetica Neue", sans-serif;
}

h2 {
    font-size: 28px;
    color: #3a3a3a;
}

h3, h4 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

p {
    padding: 8px 0;
}

strong {
    font-weight: 700;
}

.page-header__title {
    color: #3a3a3a;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
}

.section-header {
    margin: 30px 0 5px 0;
    margin-top: 30px;
}


/*
============================
ANCHORS
============================
*/

nav a {
    text-decoration: none;
    color: black;
}


/*
============================
ERRORS
============================
*/

.errorlist {
    height: 60px;
    background-color: #F8D7DA;
    color: #A74E69;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.errorlist li {
    font-size: 14px;
    padding: 8px;
}


/*
============================
MEDIA QUERIES
============================
*/


@media (max-width: 1044px) {

    .container {
        max-width: 802px;
    }

    .container_wrapper {
        margin: 0 24px;
    }

    .wiki-article-col__right {
        display: none;
    }
    .wiki-article-col__left {
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 828px) {
    .container {
        margin: 30px 6px;
    }
}


@media (max-width: 540px) {
    nav {
        font-size: 13px;
    }
}