/*
============================
IMPORTS
============================
*/


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*
============================
MAIN BODY LAYOUT
============================
*/


body {
    background-color: white;
}

.container {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1064px;
}

.container_wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.container-wrapper_head {
    height: 105px;
}

.featured-box {
    margin: 10px 0;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #CCC;
}


/*
============================
SECTION LAYOUT
============================
*/


.wiki-article-container {
    display: flex;
}

.wiki-article-col__left {
    width: 702px;
}

.wiki-article-col__right {
    flex-grow: 1;
}

.homepage-posts {
    margin-left: 8px;
    flex-basis: auto;
}

.countdown-box {
    padding: 10px;
    background-color: #EEE;
    width: 526px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #CCC;
}

.countdown-box * {
    padding: 5px;
}


/*
============================
NAVIGATION
============================
*/


nav {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: lightblue;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
}

nav ul {
    justify-content: flex-end;
}

nav li {
    display: inline;
    padding: 8px 14px;
}

nav ul li:last-child {
    border: 1px solid white;
    margin: 0 30px 0 8px;
    border-radius: 4px;
}

.li-inline {
    display: flex;
    align-items: center;
}


/*
============================
HOMEPAGE
============================
*/


.next-session {
    height: 104px;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.next-session h4 {
    padding: 5px;
}


/*
============================
FONTS
============================
*/


h1 {
    font-size: 36px;
    font-family: "Helvetica Neue", sans-serif;
}

h2 {
    font-size: 28px;
    color: #3a3a3a;
}

h3, h4 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 14px;
}

.page-header__title {
    color: #3a3a3a;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
}

.section-header {
    margin: 30px 0 5px 0;
    margin-top: 30px;
}


/*
============================
BUTTONS
============================
*/


/*
============================
MEDIA QUERIES
============================
*/


@media (max-width: 1044px) {
    .container {
        max-width: 702px;
    }
    .wiki-article-col__right {
        display: none;
    }
    .wiki-article-col__left {
        margin: 0 auto;
    }
}