/*
===============
IMPORTS
===============
*/


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*
===============
BODY LAYOUT
===============
*/


.container {
    height: 100%;
    display: flex;
}

#body-content {
    width: 100vw;
}


/*
=================
SIDEBAR
=================
*/


#sidebar {
    height: 100vh;
    flex-basis: 180px;
    min-width: 180px;
    border-right: 2px solid #a7d7f9;
}

.sidebar-head {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.sidebar-portal > p {
    padding: 15px 20px;
}


/*
=================
NAVIGATION
=================
*/


nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

nav li {
    display: inline;
    padding: 12px;
}

nav li:last-child {
    margin-right: 25px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: blue
}