{% extends 'saltmarsh/base.html' %}
{% block content %}
    <h1 class="page-header__title">Log In</h1>
    <div class="wiki-article-container">
        <div class="wiki-article-col__left">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-submit" type="submit">Log In</button>
            </form>
            <p>Haven't created an account yet? <a href="{% url 'register' %}">Create it here!</a></p>
        </div>
        <div class="wiki-article-col__right">
            {% include 'saltmarsh/right_column.html' %}
        </div>
    </div>
{% endblock %}