{% extends 'saltmarsh/base.html' %}
{% block content %}
    <div class="wiki-article-container">
        <div class="wiki-article-col__left">
            <p>You have successfully logged out.</p>
            <p>Didn't mean to log out? <a href="{% url 'login' %}">Log in again!</a></p>
        </div>
        <div class="wiki-article-col__right">
            <div class="featured-box homepage-posts">
                <h4 class="section-header">Recent Activity</h4>
            </div>
        </div>
    </div>
{% endblock %}