{% extends 'saltmarsh/base.html' %}
{% block content %}
    <h1 class="page-header__title">{{ user.username }}'s Profile</h1>
    <div class="profile-metadata">
       <h4><em>{{ user.profile.race }} {{user.profile.charClass }}</em></h4>
    </div>
    <div class="wiki-article-container">
        <div class="wiki-article-col__left">
            <div class="profile-info">
                <div class="profile-pic">
                    <img src="{{ user.profile.image.url }}">
                </div>
            </div>
            <div class="profile-update">
                <h4 style="color: red">Profile Info</h4>
                <hr>
                <p>{{ user.profile.background }}</p>
                <a href="{% url 'profile-update' %}"><button class="btn-submit">Update Profile</button></a>
            </div>
        </div>
        <div class="wiki-article-col__right">
            {% include 'saltmarsh/right_column.html' %}
        </div>
    </div>
{% endblock %}